* {
  margin: 0px;
}
body {
  background-color: #2C2D34;
}
body #wrapper {
  background-color: #3B3C43;
  border-radius: 20px;
  margin: 0px auto;
  margin-top: 220px;
  overflow: hidden;
  width: 876px;
  font-size: 0px;
}
body #wrapper #signin_block {
  background-color: #1D1F2B;
  box-sizing: border-box;
  display: inline-block;
  padding: 75px 78px 176px 78px;
  vertical-align: top;
  width: 670px;
}
body #wrapper #signin_block #signin_header {
  margin-bottom: 50px;
}
body #wrapper #signin_block #signin_header img {
  display: inline-block;
  vertical-align: top;
}
body #wrapper #signin_block #signin_header ul {
  display: inline-block;
  list-style: none;
  padding: 0px 0px 0px 25px;
  vertical-align: top;
}
body #wrapper #signin_block #signin_header ul li:nth-child(1) {
  color: #fff;
  font: normal 400 21px/25px 'Roboto', sans-serif;
  letter-spacing: 0.6px;
}
body #wrapper #signin_block #signin_header ul li:nth-child(2) {
  color: #6D7186;
  font: normal 400 17.5108px/21px 'Roboto', sans-serif;
  letter-spacing: 0.6px;
  margin-top: 4px;
}
body #wrapper #signin_block form .field_style {
  margin-bottom: 17px;
}
body #wrapper #signin_block form .field_style label {
  font: normal 400 14px/16px 'Roboto', sans-serif;
  color: #6D7186;
  display: block;
  margin-bottom: 9px;
}
body #wrapper #signin_block form .field_style input {
  border-radius: 9px;
  background-color: #31354F;
  padding: 21px 20px;
  font: normal 400 16px/16px 'Roboto', sans-serif;
  color: #FFFFFF;
  border: none;
  display: block;
  box-sizing: border-box;
}
body #wrapper #signin_block form .field_style input:focus {
  outline: 1px solid #00A3FF;
}
body #wrapper #signin_block form #email_block {
  display: block;
}
body #wrapper #signin_block form #email_block input {
  width: 100%;
}
body #wrapper #signin_block form #password_block {
  display: block;
}
body #wrapper #signin_block form #password_block input {
  width: 100%;
}
body #wrapper #signin_block form #signin_btn {
  font: normal 400 21px/25px 'Roboto', sans-serif;
  color: #fff;
  padding: 20px 0px;
  background-color: #00A3FF;
  border-radius: 9px;
  width: 100%;
  border: none;
  margin: 13px 0px 40px 0px;
  transition: 0.21s;
}
body #wrapper #signin_block form #signin_btn:hover {
  background-color: #1961CD;
}
body #wrapper #signin_block form p {
  text-align: center;
  color: #6D7186;
  font: normal 400 17.5108px/15px 'Roboto', sans-serif;
  opacity: 0.9;
}
body #wrapper #signin_block form p a {
  color: #00A3FF;
  text-decoration: none;
  transition: 0.21s;
}
body #wrapper #signin_block form p a:hover {
  opacity: 0.8;
}
body #wrapper #the_wall_block {
  display: inline-block;
  vertical-align: top;
  padding: 75px 0px 0px 47px;
  width: 155px;
  background-image: url("../../img/background_image.png");
  background-size: cover;
  height: 247px;
}
body #wrapper #the_wall_block p {
  font: normal 400 25.5456px/30px 'Roboto', sans-serif;
  color: #fff;
  letter-spacing: 8px;
  margin-top: 4px;
}
