* {
  margin: 0px;
}
body {
  background-color: #2C2D34;
}
body header {
  background-color: #1E1F25;
}
body header .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  max-width: 100%;
}
body header .container #logo_block {
  color: #fff;
  font: normal 400 21px/25px 'Roboto', sans-serif;
  padding: 17px 0px 0px 25px;
}
body header .container #logo_block img,
body header .container #logo_block p {
  display: inline-block;
  vertical-align: top;
}
body header .container #logo_block img {
  padding-right: 4px;
}
body header .container #user_block {
  color: #fff;
  font: normal 400 14px/16px 'Roboto', sans-serif;
}
body header .container #user_block p,
body header .container #user_block a {
  display: inline-block;
  padding: 23px 0px;
  vertical-align: top;
}
body header .container #user_block p {
  border-right: solid 1px #3A3C46;
  padding-right: 26px;
}
body header .container #user_block a {
  padding: 23px 27px 23px 23px !important;
  text-decoration: none;
}
body header .container #user_block a img {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
body header .container #user_block a span {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font: normal 400 14px/16px 'Roboto', sans-serif;
}
@media screen and (max-width: 1024px) {
  body header .container {
    box-sizing: border-box;
    margin: 0px auto;
    margin-bottom: 52px;
    max-width: 375px;
  }
  body header .container #user_block p,
  body header .container #user_block span {
    display: none;
  }
  body header .container #user_block img {
    border-left: solid 1px #3A3C46;
    padding-left: 26px;
    padding-right: 26px;
  }
}
body #post_section .container {
  margin: 0px auto;
  max-width: 978px;
  padding: 0px 26px;
}
body #post_section .container h2 {
  color: #fff;
  font: normal 400 21px/25px 'Roboto', sans-serif;
  margin-bottom: 7px;
}
body #post_section .container p {
  color: #6D7186;
  font: normal 400 17.5108px/21px 'Roboto', sans-serif;
}
body #post_section .container #post_form {
  margin: 55px 0px 53px 0px;
  position: relative;
}
body #post_section .container #post_form #post_textarea {
  background-color: #3A3C46;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  color: #6D7186;
  font: normal 400 17.5108px/25px 'Roboto', sans-serif;
  height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 15px 0px 15px 20px;
  resize: none;
  width: 978px;
}
body #post_section .container #post_form #post_textarea::placeholder {
  color: #6D7186;
}
body #post_section .container #post_form #post_textarea:focus {
  outline: none;
}
body #post_section .container #post_form #post_btn {
  background-color: #00A3FF;
  border-radius: 8.86px;
  border: none;
  bottom: 26px;
  color: #fff;
  font: normal 400 14px 'Roboto', sans-serif;
  height: 38px;
  position: absolute;
  right: 20px;
  transition: 0.21s;
  width: 100px;
}
body #post_section .container #post_form #post_btn:hover {
  background-color: #1961CD;
}
body #post_section .container p {
  color: #fff;
  font: normal 400 16px/19px 'Roboto', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1024px) {
  body #post_section .container {
    box-sizing: border-box;
    max-width: 375px;
    padding: 0px 26px;
  }
  body #post_section .container #post_form {
    background-color: #3A3C46;
    border-radius: 10px;
    height: 174px;
  }
  body #post_section .container #post_form #post_textarea {
    height: 109px;
    width: 100%;
  }
}
body #no_forum {
  max-width: 978px;
  outline: dashed 1px #6D6E75;
  margin: 0px auto;
  color: #fff;
  text-align: center;
  font: normal 400 16px/19px 'Roboto', sans-serif;
  border-radius: 10px;
  padding: 37px 0px;
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  body #no_forum {
    max-width: 321px;
  }
}
body .forum_section.forum_clone_0 {
  display: none;
}
body .forum_section .container {
  background-color: #1E1F25;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 978px;
  padding: 22px 30px 30px 30px;
}
body .forum_section .container .forum_block {
  width: 100%;
}
body .forum_section .container .forum_block .forum_article {
  color: #fff;
  font: italic 16px/25px 'Roboto', sans-serif;
  letter-spacing: 0.6px;
  width: 100px;
}
body .forum_section .container .forum_block .forum_action {
  align-items: center;
  color: #A3A3FF;
  display: flex;
  font: normal 400 14px/16px 'Roboto', sans-serif;
  justify-content: space-between;
  margin-top: 3px;
}
body .forum_section .container .forum_block .forum_action .author_details p {
  display: inline-block;
  vertical-align: top;
}
body .forum_section .container .forum_block .forum_action .author_details p:nth-child(3) {
  border-left: solid 1px #A3A3FF;
  margin-left: 13px;
  padding-left: 16px;
}
body .forum_section .container .forum_block .forum_action .edit_delete_btn button {
  background-color: #32333C;
  border-radius: 4px;
  border: solid 1px #606066;
  box-sizing: border-box;
  display: inline-block;
  height: 29px;
  padding: 6px 9px;
  transition: 0.21s;
  width: 29px;
}
body .forum_section .container .forum_block .forum_action .edit_delete_btn button:nth-child(1) {
  margin-right: 2px;
}
body .forum_section .container .forum_block .forum_action .edit_delete_btn button:hover {
  background-color: #fff;
  border: solid 1px #fff;
}
body .forum_section .container .comment_form {
  margin: 26px 0px 20px 0px;
  position: relative;
  text-align: right;
}
body .forum_section .container .comment_form .comment_textarea {
  background-color: #3A3C46;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  color: #6D7186;
  font: normal 400 16px/25px 'Roboto', sans-serif;
  height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 15px 20px;
  resize: none;
  text-align: left;
  width: 902px;
}
body .forum_section .container .comment_form .comment_textarea::placeholder {
  color: #6D7186;
}
body .forum_section .container .comment_form .comment_textarea:focus {
  outline: none;
}
body .forum_section .container .comment_form .comment_btn {
  background-color: #00A3FF;
  border-radius: 8.86px;
  border: none;
  bottom: 24px;
  color: #fff;
  font: normal 500 14px/40px 'Roboto', sans-serif;
  letter-spacing: 0.6px;
  opacity: 0.9;
  position: absolute;
  right: 20px;
  transition: 0.21s;
  width: 100px;
}
body .forum_section .container .comment_form .comment_btn:hover {
  background-color: #1961CD;
}
body .forum_section .container .clone_comment {
  display: none;
}
body .forum_section .container .comment_block {
  border-bottom: solid 1px #3F404A;
  box-sizing: border-box;
  margin-left: 16px;
  margin-top: 24px;
  padding-bottom: 21px;
  width: 903px;
}
body .forum_section .container .comment_block .comment_article {
  color: #9496A1;
  font: italic 400 16px/25px 'Roboto', sans-serif;
}
body .forum_section .container .comment_block .comment_action {
  align-items: center;
  color: #A3A3FF;
  display: flex;
  font: normal 400 14px/16px 'Roboto', sans-serif;
  justify-content: space-between;
  margin-top: 3px;
}
body .forum_section .container .comment_block .comment_action .author_details p {
  display: inline-block;
  vertical-align: top;
}
body .forum_section .container .comment_block .comment_action .author_details p:nth-child(3) {
  border-left: solid 1px #A3A3FF;
  margin-left: 13px;
  padding-left: 16px;
}
body .forum_section .container .comment_block .comment_action .edit_delete_btn span {
  background-color: #32333C;
  border-radius: 4px;
  border: solid 1px #606066;
  box-sizing: border-box;
  display: inline-block;
  height: 29px;
  padding: 6px 9px;
  transition: 0.21s;
  width: 29px;
}
body .forum_section .container .comment_block .comment_action .edit_delete_btn span:nth-child(1) {
  margin-right: 2px;
}
body .forum_section .container .comment_block .comment_action .edit_delete_btn span:hover {
  background-color: #fff;
  border: solid 1px #fff;
}
@media screen and (max-width: 1024px) {
  body .forum_section {
    box-sizing: border-box;
    margin: 0px auto;
    margin-bottom: 30px;
    max-width: 375px;
    padding: 0px 26px;
  }
  body .forum_section .container .forum_block {
    width: 100%;
  }
  body .forum_section .container .forum_block .forum_article {
    width: 100%;
  }
  body .forum_section .container .forum_block .forum_action .author_details p {
    display: block;
  }
  body .forum_section .container .forum_block .forum_action .author_details p:nth-child(2) {
    display: none;
  }
  body .forum_section .container .forum_block .forum_action .author_details p:nth-child(3) {
    border: none;
    margin-left: 0px;
    padding-left: 0px;
  }
  body .forum_section .container .comment_form {
    width: 100%;
    height: 174px;
    background-color: #3A3C46;
    border-radius: 10px;
  }
  body .forum_section .container .comment_form .comment_textarea {
    background-color: transparent;
    width: 100%;
    height: 107px;
  }
  body .forum_section .container .comment_block {
    width: 95%;
    box-sizing: border-box;
  }
  body .forum_section .container .comment_block .comment_action p:nth-child(2),
  body .forum_section .container .comment_block .comment_action p:nth-child(3) {
    display: none;
  }
}
